
.container{
    
    display: flex;
    flex-direction: column;
    
}

.container-head{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    background-color: #ffffff;
}

.container-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}


ul{
    list-style: none;
    padding: 0;
    
}

ul#menu li{
    display: inline;
}

.space{
    margin: 0 5px;
}

.search{
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: #e5e5e5 ;
    width: 100%;
    border-radius: 10px;
}

.bell{
    color: orange;
}

.dropstart .dropdown-toggle::before{
    display: none;
}

.sidebar{
    background-color: #0a2238;
    color: white;
    min-height: 50vh;
    padding: 20px;
    width: 200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    color: #fff;
}

.content {
    margin-left: 250px; /* Larghezza della sidebar */
    padding: 20px;
}

/* Stile per i link della sidebar */
.sidebar a {
    text-decoration: none;
    color: #fff;
}

/* Stile per i link quando sono passati sopra */
.sidebar a:hover {
    color: #ddd;
}

.col-md-2{
    padding: 0;
}
  
