/* --- container --- */
.container{
    
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding-left: 0;
}

.container-head{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    background-color: #ffffff;
}

.container-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.container-title{
    display: flex;
    padding-left: 0;
    max-width: 100%;
}

/* --- container --- */

/*--- list --- */

ul{
    list-style: none;
    padding: 0;
    
}

ul#menu li{
    display: inline;
    
}

ul#menu{
    margin-bottom: 0;
}

.space{
    margin: 0 5px;
}

/*--- list --- */

/* -- serch --- */

.search{
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: #e5e5e5 ;
    width: 100%;
    border-radius: 10px;
}

.search p, .icon{
    margin: 0;
    padding: 2px;
}

/* -- serch --- */

/* --- dropdown --- */

.bell{
    color: orange;
}

.dropstart .dropdown-toggle::before{
    display: none;
}

.dropdown-menu{
    text-decoration: none;
}

/* --- dropdown --- */

/* --- sidebar --- */

.sidebar{
    background-color: #0a2238;
    color: white;
    min-height: 50vh;
    padding: 20px;
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    color: #fff;
}

.content {
    margin-left: 250px; /* Larghezza della sidebar */
    padding: 20px;
}

/* Stile per i link della sidebar */
.sidebar a {
    text-decoration: none;
    color: #fff;
}

/* Stile per i link quando sono passati sopra */
.sidebar a:hover {
    color: #ddd;
}

/* --- sidebar --- */

/* --- column ---*/

.col-new-student{
    padding-right: 0;
    background-color: #1b72e8;
    height: 100px;
    padding-top: 10px;
    text-align: right;
}

.col-2{
   padding-right: 0;
    
}

.col-3{
    background-color: #1b72e8;
    height: 100px;
    padding-top: 10px;
    padding-left: 15px;
}

.col-5{
    color: white;
    font-size: 15px;
}

.col-7{
    background-color: #1b72e8;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}

.col-9{
    padding-top:13px;
}

.col-10{
    padding: 0 ;
}


  
/* --- column ---*/

/*--- typograghy ---*/

/*--- typograghy ---*/

.title{
    font-size: 30px;
    color: white;
}

.title-10{
    font-size: 15px;
    color: white;
}

/*--- button ---*/

.btn-head{
    border-radius: 30px;
    color: white;
    background-color: #165bba;
    border: none;
}